.menu--container {
    width: 300px;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu--icon {
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.menu--icon img {
    width: 60px;
    height: 60px;
    transition: .5s ease-in-out;
}
.menu--icon img:hover { 
    margin-top: -15px;
}